body {
    background-color: white;
}

td, th {
    border: 1px black solid;
    border-collapse: collapse;
    height: 72px;
    width: 72px;
    text-align: center;
    /* display: table-cell; */
    vertical-align: middle;
}

.piece {
    font-size: 60px;
    user-select: none; /* User can select tiles with JS, but the text glyph itself should not be selectable */
}

.coordinate {
    font-size: 16px;
    font-family: Calibri,Consolas,monospace;
    user-select: none;
}

.move_to_tile {
    background-color: #ff8c00;
}

.selected_tile {
    background-color: #6a5acd;
}

.opponents_selected_tile {
    background-color: maroon;
}

.game_over_tile {
    background-color: #808080;
}

.invalid_move_to_tile {
    background-color: #808080;
}

.blue_tile {
    background-color: #b0c4de;
}

.white_tile {
    background-color: white;
}

.opponent_moved_tile {
    background-color: green;
}

.undo_tile {
    background-color: #ffd700;
}

.undo_capture {
    background-color: #ff6347;
}

#chatroom_holder {
    vertical-align: top;
    text-align: left;
    font-family: Calibri,Consolas,monospace;
    border: none;
    width: 250px;
}

#chatroom {
    vertical-align: top;
    text-align: left;
    font-family: Calibri,Consolas,monospace;
    border: none;
}

#chessboard {
    border: 1px black solid;
    border-collapse: collapse;
}

#top_level_container {
    border: 0;
    table-layout: fixed;
}

#chess_container {
    border: none;
    width: 650px;
    vertical-align: top;
}
