body {
    background-color: white;
}

#chessboard td, #chessboard th {
    border: 1px black solid;
    border-collapse: collapse;
    height: 72px;
    width: 72px;
    text-align: center;
    /* display: table-cell; */
    vertical-align: middle;
}

.piece {
    font-size: 60px;
    user-select: none; /* User can select tiles with JS, but the text glyph itself should not be selectable */
}

.coordinate {
    font-size: 16px;
    font-family: Calibri,Consolas,monospace;
    user-select: none;
}

.move_to_tile {
    background-color: #ff8c00;
}

.selected_tile {
    background-color: #6a5acd;
}

.opponents_selected_tile {
    background-color: maroon;
}

.game_over_tile {
    background-color: #808080;
}

.invalid_move_to_tile {
    background-color: #808080;
}

.blue_tile {
    background-color: #b0c4de;
}

.white_tile {
    background-color: white;
}

.opponent_moved_tile {
    background-color: green;
}

.undo_tile {
    background-color: #ffd700;
}

.undo_capture {
    background-color: #ff6347;
}

#chatroom_holder {
    vertical-align: top;
    text-align: left;
    font-family: Calibri,Consolas,monospace;
    border: none;
    width: 300px;
}

#chatroom {
    vertical-align: top;
    text-align: left;
    font-family: Calibri,Consolas,monospace;
    border: none;
}

#chessboard {
    border: 1px black solid;
    border-collapse: collapse;
    z-index: 1;
}

#top_level_container {
    border: 0;
    table-layout: fixed;
}

#chess_container {
    border: none;
    width: 650px;
    vertical-align: top;
}

#message_cover {
    display: none;
    background-color: #5f5f5f80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#message_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 615px;
}

#message_window {
    display: none;
    border: 3px black solid;
    border-radius: 15px;
    padding: 15px;
    outline: none;
    font-size: 16px;
    font-family: Calibri,Consolas,monospace;
    background-color: #757575;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
}

#message_window > button {
    background-color: black;
    color: white;
    margin: 12px;
    border: 3px outset gray;
    border-radius: 10px;
    padding: 8px;
}

#chatroom_holder > div > button {
    background-color: black;
    color: white;
    margin: 2px;
    border: 3px outset gray;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: Calibri,Consolas,monospace;
}
