body {
    background-color: #a9a9a9;
}

#chessboard td, #chessboard th {
    height: 72px;
    width: 72px;
    text-align: center;
    /* display: table-cell; */
    vertical-align: middle;
    position: relative;
    padding: 0;
}

.piece {
    font-size: 60px;
    user-select: none; /* User can select tiles with JS, but the text glyph itself should not be selectable */
}

.coordinate {
    font-size: 16px;
    font-family: Calibri,Consolas,monospace;
    user-select: none;
}

#chessboard td.no_walls::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.ceiling::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.floor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.left_wall::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.right_wall::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.ceiling_floor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.both_walls::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.no_ceiling::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.no_floor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.all_walls::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.lower_left_corner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.upper_right_corner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.upper_left_corner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 1px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.lower_right_corner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.no_left_wall::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 2px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 1px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.no_right_wall::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px #505050 solid;
    border-right: 1px #505050 solid;
    border-bottom: 2px #505050 solid;
    border-left: 2px #505050 solid;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

#chessboard td.move_to_tile {
    background-color: #ff8c00;
}

#chessboard td.selected_tile {
    background-color: #6a5acd;
}

#chessboard td.opponents_selected_tile {
    background-color: maroon;
}

#chessboard td.game_over_tile, #chessboard td.invalid_move_to_tile {
    background-color: #808080;
}

.blue_tile {
    background-color: #b0c4de;
}

.white_tile {
    background-color: white;
}

#chessboard td.opponent_moved_tile {
    background-color: green;
}

#chessboard td.undo_tile {
    background-color: #ffd700;
}

#chessboard td.undo_capture {
    background-color: #ff6347;
}

#chatroom_holder {
    vertical-align: top;
    text-align: left;
    font-family: Calibri,Consolas,monospace;
    border: none;
    width: 300px;
}

#chatroom {
    vertical-align: top;
    text-align: left;
    font-family: Calibri,Consolas,monospace;
    border: none;
}

#chessboard {
    border: 2px black solid;
    border-radius: 16px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 5px 2px black;
    z-index: 1;
}

#top_level_container {
    border: 0;
    table-layout: fixed;
}

#chess_container {
    border: none;
    width: 650px;
    vertical-align: top;
}

#message_cover {
    display: none;
    background-color: #5f5f5f80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#message_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 615px;
}

#message_window {
    display: none;
    border: 3px black solid;
    border-radius: 15px;
    padding: 15px;
    outline: none;
    font-size: 16px;
    font-family: Calibri,Consolas,monospace;
    background-color: #757575;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
}

#message_window > button {
    background-color: black;
    color: white;
    margin: 12px;
    border: 3px outset gray;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
    font-family: Calibri,Consolas,monospace;
}

#chatroom_holder > div > button {
    background-color: black;
    color: white;
    margin: 2px;
    border: 3px outset gray;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: Calibri,Consolas,monospace;
}
